.javascript-slider(id="javascript-slider")
	h2.form-header Уровень владения JavaScript
	.javascript-slider__container(id="slider-container")
		.javascript-slider__pointer(id="pointer" data-percent="49.4")
			.pointer__value#pointer-value
		.javascript-slider__ghost(id="pointer-ghost")
		.javascript-slider__bar
	.javascript-slider__levels
		span.javascript-slider__level-selector(data-percent="0") Не владею
		span.javascript-slider__level-selector(data-percent="19.8") Использую готовые решения
		span.javascript-slider__level-selector(data-percent="49.4") Использую готовые решения и умею их переделывать
		span.javascript-slider__level-selector(data-percent="100") Пишу сложные скрипты
