.asterisk
	margin 10px 0 20px
	overflow auto

	&__text
		position relative
		padding-left 20px
		display inline-block
		font-size 14px
		line-height 22px
		color #3d3d3d

		&:before
			position absolute
			top 5px
			left 2px
			display inline-block
			width 11px
			height 9px
			content ''
			background url(../images/asterisk.png)
			background-repeat no-repeat

.skills
	margin-bottom 69px
	display flex
	flex-flow row wrap

	&__col

		+below(640px)
			&:not(:last-child):after
				margin 20px auto
				display block
				width 20%
				height 1px
				content ''
				background rgba(#2f1b15, .4)

		&:nth-child(1)
			width 34%

			+below(640px)
				width 100%

		&:nth-child(2)
			width 36%

			+below(640px)
				width 100%

			+between(641px, 890px)
				width 41%



		&:nth-child(3)
			width 30%

			+below(640px)
				width 100%

			+between(641px, 890px)
				width 25%

.checkbox
	margin-bottom 10px

	&__label
		position relative
		padding-left 28px
		display inline-block
		font-size 21px
		font-weight 700
		line-height 25px
		cursor pointer
		color #000

		&:before
			position absolute
			top -7px
			left 0
			display inline-block
			width 23px
			height 35px
			content ''
			background url(../images/checkbox-unchecked.png) no-repeat

		.strike
			position relative

			&:before
				position absolute
				top -25px
				right 5px
				font-family 'Shadows Into Light Two', cursive
				font-weight 200
				letter-spacing 2px
				content attr(data-fix)
				color #19487C

			&:after
				position absolute
				top 3px
				right -5px
				display block
				width 75px
				height 25px
				content ''
				background-image url(../images/strike.png)
				background-repeat no-repeat

	&__input-checkbox
		display none

		&:checked + .checkbox__label:before
			background url(../images/checkbox-checked.png) no-repeat
